<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <title>{% block title %}Title{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                {% if user_type != None %}
                {% if user_type == 'customer' %}
                <a class="nav-item nav-link" id="home" href="/customer-home">CustomerHome</a>
                {% elif user_type == 'vendor' %}
                <a class="nav-item nav-link" id="vendorhome" href="/vendor-home">VendorHome</a>
                {% elif user_type == 'deliveryman' %}
                <a class="nav-item nav-link" id="deliverymanhome" href="/delivery-man-dashboard">DeliveryManHome</a>
                {% elif user_type == 'admin' %}
                <a class="nav-item nav-link" id="adminhome" href="/admin-home">AdminHome</a>
                {% endif %}
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                {% else %}
                <a class="nav-item nav-link" id="adminlogin" href="/login-admin">AdminLogin</a>
                <a class="nav-item nav-link" id="adminsignup" href="/admin-sign-up">AdminSignUp</a>
                <a class="nav-item nav-link" id="login" href="/login">CustomerLogin</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">CustomerSignUp</a>
                <a class="nav-item nav-link" id="vendorlogin" href="/login-vendor">VendorLogin</a>
                <a class="nav-item nav-link" id="vendorsignUp" href="/vendor-sign-up">VendorSignUp</a>
                <a class="nav-item nav-link" id="deliverymanlogin" href="/login-deliveryman">DeliveryManLogin</a>
                <a class="nav-item nav-link" id="deliverymansignUp" href="/delivery-man-sign-up">DeliveryManSignUp</a>
                <!-- <a class="nav-item nav-link" id="vendorAnalysis" href="/vendor-analysis">VendorAnalysis</a>
                <a class="nav-item nav-link" id="customerAnalysis" href="/customer-analysis">CustomerAnalysis</a> -->
                {% endif %}
              </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="container">{% block content %}{% endblock %}</div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>


        <script>
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        </script>
    </body>
</html>